/*User propertis*/
:root{
    --verde:#49B069;
    --blanco:#F5F5F5;
    --beigue: #307546;
    --rojo:#F40243;
    --oscuro:#363940;
    --negro: #000;
}
body{
    background-image: url("../img/dart-simetrico.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
h2, h3, h4, p {
    font-size: 18px;
    padding: 10px 0px;
    line-height: normal;
}
h2, h3{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
h2 {
    font-size: 32px;
    margin-bottom: 30px;
}
p {
    text-align: justify;
}
/*Cueropo*/
main {
    width: 800px;
    padding: 30px;
    margin: 10px auto;
}