
body{
    background-color: var(--oscuro);
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
p {
    margin: 0;
}
/* CONTROLES */
#contenedor-controles {
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.btn {
    font-weight: 600;
    font-size: 24px;
    background-color: var(--verde);
    color: var(--blanco);
    height: 50px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none
}
#sig img {
    width: 70px;
    user-select: none
}
/* GANAR */
#contenedor-ganar {
    margin: 30px auto 0px auto;
    text-align: center;
    font-weight: 400;
    color: var(--rojo);
}
/* TABLERO */
#contenedor-tablero{
    display: grid;
    margin: 30px auto 0px auto;
}
.contenedor-vertical {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.cubo {
    height: 60px;
    width: 60px;
    margin: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none
}
@media(max-width: 425px) {
    .cubo {
        height: 50px;
        width: 60px;
        margin: 5px 20px;
    }
}
.btn-clickable:hover {
    cursor: pointer;
}
.fondo-azul {
    background-color: var(--verde);
    color: var(--blanco);
    border-radius: 15px;
}
.ocultar {
    display: none;
}
.pto-0 {
    background-image: url("../img/0.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pto-1 {
    background-image: url("../img/1.png");
}
.pto-2 {
    background-image: url("../img/2.png");
}
.pto-3 {
    background-image: url("../img/3.png");
}
.pto-close {
    background-image: url("../img/close.png");
}