#preguntas-frecuentes h3 {
    font-size: 22px;
}
#preguntas-frecuentes p {
    padding: 20px;
}
.contenedor-pregunta {
    width: 800px;
    margin: 30px auto;
    border-radius: 15px;

    background-color: var(--blanco);
    color: var(--oscuro);
}
.titulo-fqs {
    cursor: pointer;
}
.ocultar-fqs {
    display: none;
}