/*PC*/
body{
    background-image: url("../img/fondo-dardos-simetrico-1440.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
h2, h3, h4, p {
    font-size: 18px;
    padding: 10px 0px;
    line-height: normal;
}
h2, h3{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}
p {
    text-align: justify;
}
/*Cueropo*/
.contenedor-descripcion {
    width: 800px;
    padding: 30px 20px;
    margin: 50px auto 0px auto;
    border-radius: 15px;
}
.contenedor-jugar {
    padding: 30px 20px;
    margin: 20px auto 0px auto;
    border-radius: 15px;
    /* background-color: var(--oscuro); */
    display: flex;
    justify-content: center;
}
.btn {
    width: 300px;
    font-weight: 200;
    padding: 15px;
    border: 0px;
    color: var(--blanco);
    border-radius: 20px;
    cursor: pointer;
}
.contenido-instrucciones {
    width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.btn-jugar {
    font-size: 40px;
    background-color: var(--verde);
}
.btn-instrucciones {
    width: 100%;
    font-size: 35px;
    background-color: var(--oscuro);
}

/*PC mediano*/
@media(max-width: 1440px) {
    body {
        background-image: url("../img/fondo-dardos-simetrico-1024.jpg");
    }
}
/*PC pequeño*/
@media(max-width: 1024px) {
    body {
        background-image: none;
        background-color: var(--claro);
    }
    .contenedor-descripcion  {
        width: calc(100% - 140px);
        padding: 70px;
        margin: 0;
    }
    .contenido-instrucciones {
        width: calc(100% - 140px);
    }
}
/*tablet*/
@media(max-width: 768px) {
    .contenedor-descripcion  {
        width: calc(100% - 100px);
        padding: 50px;
    }
    .contenido-instrucciones {
        width: calc(100% - 100px);
        grid-template-columns: repeat(2, 1fr);
    }
}
/*movil*/
@media(max-width: 425px) {
    .contenedor-descripcion  {
        width: calc(100% - 60px);
        padding: 30px;
        margin: 0px;
    }
    .contenedor-jugar {
        margin: 0px auto 0px auto;
        padding: 10px 20px;
    }
    .contenido-instrucciones {
        width: calc(100% - 60px);
        grid-template-columns: repeat(1, 1fr);
    }
    h2, h3{
        font-size: 22px;
    }
    h2 {
        font-size: 24px;
    }
}
/* movil pequeño */
@media(max-width: 375px) {
    .contenedor-descripcion {
        padding: 30px 0;
        margin: 0px auto 0px auto;
    }
    .btn-jugar {
        width: 260px;
        padding: 10px 20px;
    }
}