
body{
    /* background-color: var(--oscuro); */
    background-image: url("../img/fondo-dardos-simetrico-1440.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
p {
    margin: 0;
}

/* CONTROLES */
#contenedor-controles {
    width: 760px;
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: space-around;
}
.btn {
    font-weight: 600;
    font-size: 28px;
    background-color: var(--verde);
    color: var(--blanco);
    height: 50px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none
}
#sig img {
    width: 70px;
    user-select: none
}
/* GANAR */
#contenedor-ganar {
    margin: 30px auto 0px auto;
    text-align: center;
    font-weight: 400;
    color: var(--rojo);
}
/* JUGADORES */
.contenedor-jugadores {
    width: 760px;
    margin: 30px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.contenedor-jugador {
    width: 100px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.btn-clickable {
    cursor: pointer;
}
.jugando {
    background-color: var(--oscuro);
}

/* NUMEROS */
.contenedor-numeros {
    width: 760px;
    padding: 20px;
    border-radius: 15px;
    margin: 0px auto 0px auto;
    background-color: var(--oscuro);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.contenedor-numeros div {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none
}
.ocultar {
    display: none;
}


/*PC mediano*/
@media(max-width: 1440px) {
    body {
        background-image: url("../img/fondo-dardos-simetrico-1024.jpg");
    }
}

/*PC pequeño*/
@media(max-width: 1024px) {
    body {
        background-image: none;
        background-color: var(--claro);
    }
    /* CONTROLES */
    #contenedor-controles {
        width: 620px;
    }
    /* JUGADORES */
    .contenedor-jugadores {
        width: 620px;
    }
    .contenedor-jugador {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }
    /* NUMEROS */
    .contenedor-numeros {
        width: 620px;
    }
    .contenedor-numeros div {
        width: 80px;
        height: 80px;
    }
}
/*tablet*/
@media(max-width: 768px) {
    /* CONTROLES */
    #contenedor-controles {
        width: 90%;
        margin: 10px auto 0px auto;
        gap: 20px;
    }
    /*TABLERO*/
    #contenedor-tablero {
        display: flex;
        justify-content: center;
    }
    .contenido-tablero {
        margin: 0px auto 0px auto;
        display: grid;
        grid-template-columns: 80px 290px;
    }
    /* JUGADORES */
    .contenedor-jugadores {
        grid-row: 1/2;
        margin: 10px auto 0px auto;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        
    }
    .contenedor-jugador {
        width: 80px;
        height: 80px;
        border-radius: 10px 0px 0px 10px;
    }
    /* NUMEROS */
    .contenedor-numeros {
        grid-column: 2/3;
        width: 270px;
        padding: 10px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .contenedor-numeros div {
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
}
/*movil L*/
@media(max-width: 375px) {
    /* CONTROLES */
    .btn {
        font-size: 22px;
    }
    /*TABLERO*/
    .contenido-tablero {
        grid-template-columns: 70px 250px;
    }
    /* JUGADORES */
    .contenedor-jugador {
        width: 70px;
        height: 70px;
        border-radius: 5px 0px 0px 5px;
    }
    .contenedor-jugador p {
        font-size: 18px;
    }
    /* NUMEROS */
    .contenedor-numeros {
        width: 230px;
    }
    .contenedor-numeros div {
        width: 70px;
        height: 70px;
    }
}
/*movil M*/
@media(max-width: 375px) {
    /*TABLERO*/
    .contenido-tablero {
        grid-template-columns: 65px 235px;
    }
    /* JUGADORES */
    .contenedor-jugador {
        width: 65px;
        height: 65px;
        border-radius: 5px 0px 0px 5px;
    }
    .contenedor-jugador p {
        font-size: 18px;
    }
    /* NUMEROS */
    .contenedor-numeros {
        width: 215px;
    }
    .contenedor-numeros div {
        width: 65px;
        height: 65px;
    }
}