
/* Navegador */
:root{
    --verde:#49B069;
    --blanco:#F5F5F5;
    --rojo:#F40243;
    --oscuro:#363940;
}
nav {
    font-size: 22px;
    font-weight: 500;
    height: 25px;
    width: 800px;
    margin: 30px auto 0px auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanco);
}
.logo {
    display: flex;
    align-items: center;
}
nav img {
    width: 200px;
}
/* .contenedor-element-nav {
    display: flex;
    gap: 20px;
    
}
a {
    text-decoration: none;
    color: var(--oscuro);
    font-weight: 600;
}
a:hover {
    color: var(--verde);
} */

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    user-select: none
}
.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: var(--oscuro);
    text-decoration: none;
}
.menu-horizontal > li > a:hover {
    color: var(--verde);
}
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    border-radius: 15px;
    /* background-color: rgba(245, 245, 245, .7); */
    background-color: var(--blanco);
}
.menu-horizontal li:hover .menu-vertical {
    display: block;
}
.menu-vertical li a:hover {
    color: var(--verde);
}
.menu-vertical li a {
    display: block;
    text-decoration: none;
    color: var(--oscuro);
    padding: 15px 15px 15px 20px;
}